@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    font-family: "Open Sans", Helvetica, sans-serif;
}

#headshot {
    padding-left: 4vw;
    max-width: 25%;
    height: auto;
    width: auto;
}

.socialbuttons {
    max-width: 65%;
    height: auto;
    width: auto;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    opacity: 1;
}

.socialbuttons:hover {
    opacity: 0.7;
}

.socialwrapper {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
}

#base {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* temp colors */
}

#hi-block {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
    /* temp borders */
}

hr {
    border-top: 0.3vh solid #0193E5;
    width: 88%;
    margin-left: 0;
    margin-top: 2%;
    margin-bottom: 1%;
}

h1 {
    font-size: 3.9vw;
    font-weight: 700;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

h2 {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.8vw;
    font-weight: 100;
    margin-bottom: 0;
}

h2.food {
    font-size: 2.4vw;
    margin-bottom: 2vh;
}

h3 {
    margin-top: 0%;
    padding-top: 0%;
    font-size: 1.6vw;
    font-weight: 700;
    margin-bottom: -1vh;
    padding-bottom: 0;
}

h4 {
    margin-top: -0.1vh;
    padding-top: 0;
    font-size: 1.35vw;
    font-weight: 300;
    margin-bottom: 0;
}

h4.food {
    padding: 2vh;
    width: 80%;
    font-size: 1.6vw;
    text-align: center;
}

h4.stats {
    font-weight: 500;
    color: #0193E5
}

p {
    margin-top: 0;
    font-size: 1.35vw;
    font-weight: 300;
    padding-right: 1vw;
    color: #252525
}

p.food {
    font-size: 1.4vw;
    color: #252525
}

h5 {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.1vw;
    font-weight: 400;
    margin-bottom: 0;
    color: #0193E5
}

h5.stats {
    margin-bottom: 0;
    font-weight: 300;
    color: #252525
}

h6 {
    margin-top: 0;
    padding-top: 0;
    font-size: 0.85vw;
    font-weight: 500;
    margin-bottom: 0;
    font-style: italic;
    color: #0193E5
}

#intro-block {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    max-width: 90%;
    justify-content: left;
    /* border-bottom: 8px solid #;
    margin-bottom: 1%; */
}

#title-block {
    max-width: 60%;
    /* max-height: 30%; */
    display: flex;
    flex-direction: column;
    z-index: 100;
    margin: -1%;
    /* border-width: 2px;
    border-style: solid;
    border-color: blue; */
}

#blue-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border-width: 2px;
    border-style: solid;
    border-color: green; */
    width: 105%;
    opacity: 1;
}

.tiled {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    /* border-width: 2px;
    border-style: solid;
    border-color: green; */
    width: 80vw;
    flex-wrap: wrap;
}

.tilecolumn {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    /* border-width: 2px;
    border-style: solid;
    border-color: green; */
    width: 25vw;
    /* flex-wrap: wrap; */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: white;
    width: 23.5vw;
    /* maintains proportional box size regardless of screen */
    height: auto;
    padding-left: 1.6vw;
    padding-bottom: 1.9vw;
    padding-top: 1.5vw;
    padding-right: 0.5vw;
    border-radius: 2.5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    /* overflow: scroll; */
}

a.footerlink {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}

a.link {
    color: inherit;
    text-decoration-style: dashed;
    font-weight: 400;
    color: #0193E5
}

.item {
    border-left: 0.15vw solid #0193E5;
    padding-left: 0.25vw;
    margin-left: 0;
    margin-top: 1.3vw;
    margin-bottom: 0;
    padding-top: 0;
    width: 95%;
}


#bottom {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

#footer {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

#footer-text {
    font-size: 0.9vw;
    font-weight: 300;
    color: white;
    opacity: 0.8;
    padding: 0;
    margin: 0;
}

#photobutton {
    opacity: 1;
}

#photobutton:hover {
    opacity: 0.7;
    cursor: pointer;
}

#header {
    background-color: #252525;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
}

a.header {
    color: white;
    text-decoration: none;
    padding: 0.8vh;
    border-left: 0.3vw solid white;
    border-top: 0.3vw solid white;
    letter-spacing: 0.4vw;
}

p.header {
    color: white;
    text-decoration: none;
    font-size: 1.6vw;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 400;
    border-right: 0.15vw dashed white;
}

a.header:hover {
    opacity: 0.7;
}

#photopage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    /* border-width: 2px;
    border-style: solid;
    border-color: green; */
}

.photoblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
    width: 80%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh;
}

.imagegrid {
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.grid-photo {
    flex: 1;
    max-width: 32%;
    height: auto;
    width: auto;
}

.landscape-photo {
    max-width: 98%;
    height: auto;
    width: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.modal {
    display: none;
    position: relative;
    flex-direction: row;
    justify-content: top;
    background-color: white;
    width: 80vw;
    /* maintains proportional box size regardless of screen */
    height: auto;
    padding-left: 1.8vw;
    padding-bottom: 1.8vw;
    padding-top: 1.8vw;
    padding-right: 1.8vw;
    border-radius: 2.5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    z-index: 2;
    /* overflow: scroll; */
}

.content:hover,
.content:focus {
    background-color: #f2f2f2;
    cursor: pointer;
}

/* .overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
} */


.close-button {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5vw;
    margin-top: 0.8vw;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 800px) {

    #headshot {
        padding-left: 0;
        max-width: 30%;
    }

    #title-block {
        max-width: 95%;
        margin: 0;
    }

    h1 {
        padding-top: 0;
        margin-top: -1.2vh;
        font-size: 5vw;
    }

    h2 {
        font-size: 3vw;
        font-weight: 400;
    }

    h3 {
        font-size: 3.4vw;
    }

    p,
    h4 {
        font-size: 3.1vw;
        font-weight: 400;
    }

    h5 {
        font-size: 2.7vw;
        margin-top: -0.2vh;
        font-weight: 500;
    }

    h6 {
        font-size: 2.3vw;
    }

    .content {
        width: 87%;
        margin-bottom: 0.6vh;
        margin-top: 0.6vh;
        padding: 3vw;
        overflow: auto;
    }

    .item {
        margin-top: 1.4vh;
        border-left: 0.6vw solid #0193E5;
        padding-left: 1vw;
        width: 80%;
    }


    .tiled {
        width: 95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: none;
    }

    .tilecolumn {
        width: 100%;
    }

    #footer-text {
        text-align: center;
        font-size: 2.7vw;
        padding: 2vw;
    }

    #bottom {
        padding-top: 0.8vh;
        padding-bottom: 0.8vh;
    }

    hr {
        border-top: 0.15vh solid #0193E5;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .socialwrapper {
        margin-top: -0.5vh;
        padding-top: 0;
    }

    .socialbuttons {
        margin-top: 1vw;
        padding-top: 1.5vw;
        max-width: 80%;
    }
}